<!--Path: /views/index.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Film Collection</title>
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/button2.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/logoutButton.css">
    <link rel="stylesheet" href="styles/detailsPage.css">
    <link rel="stylesheet" href="styles/fileform.css">
    <link rel="stylesheet" href="styles/deletemovie.css">
    <link rel="stylesheet" href="styles/deleteuser.css">
    <link rel="stylesheet" href="styles/regularbutton.css">
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Online Film Collection</h1>
    
    <button class="regularbutton" id="home-button">
    ↑ Home Page
    </button>

    <nav class="welcome-text">
        <% if (user) { %>
            <span >Welcome, <%= locals.user.username %>!</span> 
            <button class="Btn" id="logout-button">
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                
                <div class="text">Logout</div>
            </button>        
        <% } else { %>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </nav>

    <% if (user && user.role === 'admin') { %>
        <h2>Search Users</h2>
        <form class="form" id="search-users-form" action="/users" method="get">
            <label for="search-username">Username:</label>
            <input type="text" id="search-username" name="username"><br>

            <label for="search-role">Role:</label>
            <select id="search-role" name="role">
                <option value="">Any</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select><br>

            <button class="regularbutton" type="submit">Search Users</button>
        </form>
        <div id="users-list">
        <% if (users && users.length > 0 && user.role === 'admin') { %>
            <% users.forEach(function(user) { %>
                <div class="movie" id="<%= user._id %>">
                    <h3><%= user.username %></h3>
                    <p>Role: <%= user.role %></p>
                    <button class="delete-user" data-id="<%= user._id %>" 
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text">Delete Movie</span>
                        </span>
                    </button>
                </div>
            <% }) %>
        <% } else { %>
            <p>No users found.</p>
        <% } %>
        </div>
    <% } %>
    <% if (user) { %>
        <h2>Add Movie</h2>
        <form class="form" id="add-movie-form" action="/add-movie" method="post" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br>

            <label for="year">Release Year:</label>
            <input type="number" id="year" name="releaseYear" required><br>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea><br>

            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required><br>

            <label for="cover-image">Cover Image:</label>
            <!-- <input type="file" id="cover-image" name="coverImage" required><br>  -->
            <span class="form-title">Upload your file</span>
            <p class="form-paragraph">
                File should be an image
            </p>
            
            <label for="cover-image" class="drop-container">
            <span class="drop-title">Drop files here</span>
            or
            <input type="file" accept="image/*" required="" id="cover-image" name="coverImage" required ><br>
            </label>

            <button class="regularbutton" type="submit">Add Movie</button>
        </form>
    <% } %>

    <h2>Search Movies</h2>
    <form class="form" id="search-movies-form" action="/" method="get">
        <label for="search-title">Title (partial):</label>
        <input type="text" id="search-title" name="title"><br>

        <label for="search-genre">Genre:</label>
        <input type="text" id="search-genre" name="genre"><br>

        <label for="min-year">Minimum Year:</label>
        <input type="number" id="min-year" name="minYear"><br>

        <label for="max-year">Maximum Year:</label>
        <input type="number" id="max-year" name="maxYear"><br>

        <button class="regularbutton" class="button" type="submit">Search Movies</button>
    </form>

    <div id="search-results">
        <% if (movies.length > 0) { %>
            <% movies.forEach(function(movie) { %>
                <div class="movie" id="<%= movie._id %>">
                    <h3><%= movie.title %></h3>
                    <img src="/<%= movie.coverImage.replace('public\\','') %>" alt="<%= movie.title %> cover image" class="cover-image">
                    <p>Year: <%= movie.releaseYear %></p>
                    <!-- 
                    <p>Genre: <%= movie.genre %></p>
                    <p>Description: <%= movie.description %></p>
                    -->
                    <div class="button-container">
                        <button class="details" >Show Details</button>
                        <div class="extra-info" style="display: none;"></div>
                        <a href="/movies/<%= movie._id %>"><%=movie.title %>'s Page</a>
                    </div>
                    <button class="delete-movie" data-id="<%= movie._id %>" 
                        <% if (!locals.user || (locals.user._id.toString() !== movie.userId.toString() && locals.user.role !== 'admin')) { %> style="display: none;" <% } %> >
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text">Delete Movie</span>
                        </span>
                    </button>
                </div>
            <% }) %>
        <% } else { %>
            <p>No movies found.</p>
        <% } %>
    </div>
</body>
</html>
