<!--Path: /views/movie.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/styles/movie.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/logoutButton.css">
    <link rel="stylesheet" href="/styles/detailsPage.css">
    <link rel="stylesheet" href="/styles/fileform.css">
    <link rel="stylesheet" href="/styles/regularbutton.css">
    <link rel="stylesheet" href="/styles/deletemovie.css">
    <script src="/movieScript.js" defer></script>
</head>
<body>
    <h1 class="centered-title"> <%= movie.title %></h1>
    <button class="regularbutton" id="home-button">
    ↑ Home Page
    </button>
    <nav>
        <% if (locals.user) { %>
            <span class="welcome-text">Welcome, <%= locals.user.username %>!</span> | 
            <button class="Btn" id="logout-button">
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                
                <div class="text">Logout</div>
            </button>
        <% } else { %>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </nav>


    <div class="container">
        <img src="<%= (movie?.coverImage?.replace('public\\uploads\\', '/uploads/')) || '/img/fnf404.jpg' %>" alt="<%= movie?.title || 'Movie not found' %>">

        <p>Year: <%= movie.releaseYear %></p>
        <p>Genre: <%= movie.genre %></p>
        <p>Description: <%= movie.description %></p>
        <p>User: 
            <% 
                // Find the user who wrote this review
                const user = users.find(user => user._id.toString() === movie.userId.toString());
                // If the user was found, print their username. Otherwise, print 'Unknown user'
                if (user) { %> 
                    <!-- Here we make the username a link to the user's page -->
                <a href="/users/<%= user._id %>"><%= user.username %></a>
            <% } else { %> 
                Unknown user 
            <% } %>
        </p>
        <button class="delete-movie" data-id="<%= movie._id %>"
            <% if (!locals.user || (user._id.toString() !== locals.user._id.toString() && locals.user.role !== 'admin')) { %> style="display: none;" <% } %>>
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Delete Movie</span>
            </span>
        </button>

        <h2>Reviews</h2>
        <% reviews.forEach(review => { %>
            <div class="review">
                <p>User: <% 
                    // Find the user who wrote this review
                    const user = users.find(user => user._id.toString() === review.userId.toString());
                    // If the user was found, print their username. Otherwise, print 'Unknown user'
                    if (user) { %> 
                        <!-- Here we make the username a link to the user's page -->
                        <a href="/users/<%= user._id %>"><%= user.username %></a>
                    <% } else { %> 
                        Unknown user 
                    <% } %>
                </p>
                <p>Rating: <%= review.rating %></p>
                <p>Review: <%= review.review %></p>
                <button class="delete-review" data-id="<%= review._id %>" 
                    <% if (!locals.user || (locals.user._id.toString() !== review.userId.toString() && locals.user.role !== 'admin')) { %> style="display: none;" <% } %> >
                    <span class="button_lg">
                        <span class="button_sl"></span>
                        <span class="button_text">Delete Review</span>
                    </span>
                </button>
            </div>
        <% }); %>
        <% if (locals.user) { %>
            <h2>Add Review</h2>
            <form class="form" id="submit-review-form" action="/movies/<%= movie._id %>/reviews" method="post">
                <input type="hidden" id="movie-id" name="movieId" value="<%= movie._id %>">
                <input type="hidden" id="user-id-hidden" name="userId" value="<%= user._id %>">

                <label class="form-paragraph" for="rating">Rating (1-10):</label>
                <input type="number" id="rating" name="rating" min="1" max="10" required><br>

                <label class="form-paragraph" for="review-text">Review:</label>
                <textarea id="review-text" name="review" required></textarea><br>

                <button class="regularbutton" type="submit">Submit Review</button>
            </form>
        <% } else { %>
            <p>You need to be logged in to add a review.</p>
        <% } %>

    </div>
</body>
</html>
